@import './Elena.css';
@import './Concourse.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  @apply font-serif;
}

code {
  @apply font-light;
  font-feature-settings: 'calt' 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

a {
  @apply font-normal;
  @apply underline;
  @apply text-warmGrey-800;
  text-decoration-color: theme('colors.warmGrey.500');
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: theme('colors.red.500');
}
