@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t2_regular.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t2_italic.woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t3_regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t3_italic.woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t4_regular.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t4_italic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t6_regular.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t6_italic.woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t7_regular.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t7_italic.woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t8_regular.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Text';
  src: url('../fonts/concourse_t8_italic.woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c2_regular.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c3_regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c4_regular.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c6_regular.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c7_regular.woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Concourse Caps';
  src: url('../fonts/concourse_c8_regular.woff');
  font-weight: 900;
  font-style: normal;
}
