.mdxpost {
  @apply font-light;
  @apply text-lg;
  @apply text-warmGrey-800;
}

@screen sm {
  .mdxpost {
    @apply text-2xl;
  }
}

.mdxpost p {
  @apply px-3;
}

.mdxpost p + p {
  text-indent: 2.5rem;
}

.mdxpost hr {
  @apply my-12;
}

.mdxpost strong {
  @apply font-medium;
  @apply text-warmGrey-900;
}

.mdxpost abbr {
  @apply text-lg;
  @apply uppercase;
  @apply font-normal;
  @apply tracking-wide;
}

.mdxpost abbr[title] {
  position: relative;
  @apply underline;
  text-decoration-style: dotted;
  cursor: help;
}

.mdxpost abbr[title]:hover::after,
.mdxpost abbr[title]:focus::after {
  content: attr(title);
  text-indent: 0;

  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -2rem;
  width: auto;
  white-space: nowrap;

  /* style tooltip */
  @apply bg-warmGrey-900;
  color: #fff;
  @apply rounded-sm;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  @apply normal-case;
  @apply text-base;
  @apply p-1;
}

.mdxpost img {
  @apply py-4;
}

.mdxpost a.caption {
  @apply text-warmGrey-600;
  @apply font-light;
  @apply no-underline;
}

.mdxpost a.caption:hover {
  @apply underline;
}
